html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400);

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
    :focus{
        outline:?????;
    } */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
        $MAIN
    \*------------------------------------*/

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
}

h6 {
  color: #666;
  font-size: 14px;
}

.container {
  header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: #16277f;
    box-shadow: 0px 1px 3px #afafb0;
    z-index: 1;
    flex: 0 1 auto;
    color: #fff;

    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 40px 0 40px;
      &:first-child {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      h3 {
        font-size: 22px;
      }
      li {
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* Product Layout */

.product-filter {
  display: flex;
  padding: 30px 30px;
}

.sort {
  display: flex;
  align-self: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.collection-sort:first-child {
  padding-right: 20px;
}

label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 2%;
  flex: 1 16%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 1%;
}

.product-card:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-wrapper {
  margin-top: 15px;
  .btn {
    width: 100%;
    cursor: pointer;
  }
}

.product-image img {
  width: 100%;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

.shopping-cart {
  width: 750px;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  .title {
    border-bottom: 1px solid #e1e8ee;
    padding: 20px 30px;
    color: #5e6977;
    font-size: 18px;
    font-weight: 400;
  }
  .title_top {
    border-top: 1px solid #e1e8ee;
    span {
      float: right;
      margin-right: 110px;
    }
  }

  .item {
    padding: 20px 30px;
    height: 100px;
    display: flex;
  }

  .item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("../img/delete-icn.svg") no-repeat center;
  }

  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url("../img//twitter-heart.png");
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.image {
  width: 100px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.forms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;

  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  form {
    max-width: 320px;
    padding: 50px;
    .input-field {
      margin: 20px 0;
      label {
        margin-right: 10px;
        text-transform: none;
      }
    }
    .btn {
      width: 100%;
    }
    .error {
      color: red;
    }
    .success {
      color: green;
    }
  }
}

.token-error {
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: red;
}

/**** Splash Screen ***/
.splash_outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: #fff;
  opacity: 0.9;
  .splash_inner {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-direction: column;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .spinner_img {
      position: absolute;
      top: 50%;
      margin: -120px auto auto auto;
      width: 240px;
      height: 240px;
      background: url("../img/spinner200px.gif");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

@media (max-width: 920px) {
  .product-card {
    // flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    // flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
